/*body {
	font-family: 'Lobster', cursive;
	font-size: 20px;
}*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.tags {
	color: gray;
	/* border: 1px solid #eee; */
}

.tag {
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 2px;
	background-color: #f0f0f0;
}

.title {
	font-size: 24px;
	vertical-align: text-bottom;
}

.news {
	padding: 20px;
	border-top: 1px solid #eee;
}

.comment {
	padding-top: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}

.comments {
	margin-top: 50px;
	border-top: 2px solid #eee;
}

.searchCriterias {
	padding-bottom: 20px;
	width: 300px;
}

.shortText {
	margin-top: 30px;
	margin-bottom: 30px;
}

.formField {
	padding-top: 30px;
	padding-bottom: 30px;
}

.menuItem {
	padding: 20px;
}

.body {
	border-left: 1px solid #eee;
}

.page-header {
	margin-bottom: 0px;
}
